<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>MobiLeLeLe</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>


<div th:replace="fragments/navbar::navbar"></div>


<div class="container">
    <h2 class="text-center text-white">Upload Offer</h2>
    <form method="POST"
          th:object="${offersServiceModel}"
          th:action="@{/offers/add}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">

            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="modelId">Model</label>
                <select name="modelId" id="modelId" th:errorclass = "is-invalid" class="form-control">
                    <option value="">- Select a modelEntity -</option>
                    <optgroup th:each="brand: ${brands}"
                              th:label="${brand.name}">
                        <option
                                th:each="brandMdel :${brand.models}"
                                th:text="${brandMdel.name}"
                                th:value="${brandMdel.id}"
                                th:selected="${brandMdel.id}==*{modelId}"
                        >Model
                        </option>
                    </optgroup>
                </select>
                <p th:if="${#fields.hasErrors('modelId')}" class="errors alert alert-danger">
                    Vehicle modelEntity is invalid.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="price" class="text-white font-weight-bold">Price</label>
                <input id="price"
                       name="price"
                       th:value="*{price}"
                       type="number" min="0" step="100" class="form-control"
                       placeholder="Suggested price"/>
                <p th:if="${#fields.hasErrors('price')}" class="errors alert alert-danger">
                    Suggested price is invalid.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="engine">Engine</label>
                <select name="engine" id="engine" class="form-control">
                    <option value="">- Select engine type -</option>
                    <option th:each="e:${engines}"
                            th:text="${e}"
                            th:value="${e}"
                            th:selected="${e}==*{engine}"
                    >
                        Engine type
                    </option>
                </select>
                <p th:if="${#fields.hasErrors('engine')}" class="errors alert alert-danger">
                    Engine type is invalid.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="transmission">Transmission</label>
                <select name="transmission" id="transmission" class="form-control">
                    <option value="">- Select transmission type -</option>
                    <option th:each="t:${transmissions}" th:text="${t}" th:value="${t}" th:selected="${t}==*{transmission}"> Transmission type
                    </option>
                </select>
                <p th:if="${#fields.hasErrors('transmission')}" class="errors alert alert-danger">
                    Transmission type is invalid.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="year" class="text-white font-weight-bold">Year</label>
                <input th:value="*{year}" name="year" id="year" type="number" min="1900" max="2099" step="1" class="form-control"
                       placeholder="Manufacturing year"/>
                <p th:if="${#fields.hasErrors('year')}" class="errors alert alert-danger">
                    Manufacturing year is invalid.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="mileage" class="text-white font-weight-bold">Mileage</label>
                <input th:value="*{mileage}" name="mileage" id="mileage" type="number" min="0" max="900000" step="1000"
                       class="form-control"
                       placeholder="Mileage in kilometers"/>
                <p th:if="${#fields.hasErrors('mileage')}" class="errors alert alert-danger">
                    Mileage in kilometers is invalid.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="text-white font-weight-bold" for="description">Description</label>
            <textarea th:text="*{description}"
                      th:errorclass="is-invalid"
                      id="description" name="description" type="textarea" class="form-control" rows="3"
                      placeholder="Description"></textarea>
            <p th:if="${#fields.hasErrors('description')}" class="errors alert alert-danger">
                Description must be have minimum 6 symbols.
            </p>
        </div>
        <div class="form-group">
            <label class="text-white font-weight-bold" for="imageUrl">Image URL</label>
            <input th:value="*{imageUrl}"
                   th:errorclass="is-invalid"
                   name="imageUrl" id="imageUrl" type="url" class="form-control"
                   placeholder="Put vehicle image URL here">
            <p th:if="${#fields.hasErrors('imageUrl')}" class="errors alert alert-danger">
                Vehicle image URL is invalid.
            </p>
        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Submit Offer"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>
